.languageSwitcher {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;

  div {
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  img {
    backface-visibility: hidden;
  }
}